@media (max-width: 480px) {
  .hello {
    width: 200px;
    border: 5px dotted blue;
  }
}

div {
  border: 5px dotted red;
  width: 400px;
  margin: auto;
  text-align: center;
  padding: 40px;
  color: gray;
  font-size: 25px;
  margin-top: 150px;
}