header {
  font-family: sans-serif;
  background: black;
  padding: 10px;
}

header h1 {
  font-family: serif;
  color: yellow;
}

header ul li {
  color: white;
  list-style: none;
  display: inline;
}

.gray {

}

.are {

}

div {
  display: inline-block;
  width: 33%;
  background: grey;
}

header {
    -webkit-animation-name: header-rainbow; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
    animation-name: header-rainbow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes header-rainbow {
    0%   {background-color: purple;}
    25%  {background-color: pink;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}